.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.header h1{
    color: var(--primary-color);
    font-family: var(--font-2);
}

.menu_btn{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    
}
.menu_btn span{
    font-size: 20px;
}
.search{
    position: relative;
    height: 45px;
    display: flex;
    border-radius: .5em;
}
.search input{
    flex: 1;
    padding: 0 3em;
    border: 0;
    color: var(--text-color) !important;
    border-radius: .5em;
    background-color: var(--secondary-color);
}

.search input:focus{
    outline: 1px solid var(--primary-color);
    background-color: rgba(175, 163, 245, 0.25);
}
.search input::placeholder{
    color: var(--grey);
}

.search input:focus::placeholder,
.search:hover span{
    color: rgb(119, 96, 252);
}
.search span{
    position: absolute;
    top: 50%;
    left: .5em;
    transform: translateY(-50%);
    color: var(--grey);
}

.wrapper{
    margin-top: .5em;
}

.end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toggle{
    background-color: transparent;
    padding: .5em;
    color: var(--grey);
}
.toggle:hover{
    color: var(--text-color);
}

.input_wrap{
    display: flex;
    flex-direction: column;
}
.input_wrap textarea{
    resize: vertical;
    padding: 1em;
    border: 1px solid var(--primary-color);
    border-radius: .5em;
    background-color: rgba(169, 155, 248, 0.25);
}

.input_wrap textarea::placeholder{
    color: rgb(119, 96, 252);
}
.btns{
    display: flex;
    margin-top: 1em;
    justify-content: flex-end;
    gap: 1em;
    padding-right: .3em;
}
.close{
    background-color: transparent;
    color: var(--grey);
}
.close:hover{
    color: var(--text-color);
}
.add{
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: .75em 1.2em;
    border-radius: .5em;
}

.todos{
    margin-top: 1em;
}
.todo{
    margin-bottom: .5em;
    padding: 1em;
    background-color: var(--border-color);
    border-radius: .5em;
    border: 1px solid var(--border-color);
    position: relative;
}
.todo p{
    width: 80%;
    font-size: small;
    text-align: justify;
}
.del{
    background-color: transparent;
    border: 1px solid var(--border-color);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .5em;
    right: .5em;
    border-radius: .5em;
}
.del:hover{
    background-color: var(--secondary-color);
}